
{% extends "base.html.twig" %}

{% block title %}Produits | {{ parent() }}{% endblock %}


    {% block body %}


    <h1 class="text-center mt-4">{{ title }}</h1>

    {#Dump = affiche les données contenue dans le tableau produit sur la homepage #}
     {#   {{ dump(produit)}} #}
     {#      {{ dump()}} #}

    

    <div class="text-center mt-4">
        Mes Produits:

        <ul>   
            {% for produit in produit %}
                <li>
                    {{ produit.GPU }} - {{ produit.Constructeur|upper }}
                </li>
            {% endfor %}
        </ul>

    </div>

    {% endblock %}